  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.wixstatic.com/media/5afdd2_cbbe9933faca4112a1b0a87f0f81a7be~mv2.png/v1/fill/w_1600%2Ch_669%2Cal_c%2Cq_90/file.jpg);">
  <div class="container">
    <h1>Mister Cocktail San</h1>
    <p>Discover and drink cocktails in style with Mister Cocktail</p>
  </div>
</div>
