<%= render 'banner' %>

<br> </br>

<div class="container">
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  <br> </br>
  <div class="row">
    <% @cocktails.each do |cocktail| %>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>'), height: 300px"> 
        <div class="card-category" >
          "sample text"
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# cl_image_tag("pinacolada_xtsiwt", width: 400, height: 300, crop: :fill) %>
