  <container>
    <div>
      <h1>Le Wagon's cocktails</h1>
      <p>Awesome drinks by batch #390</p>
    </div>

    <div>
      <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
    </div>
  </container>

  <br></br>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-link' %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
   